In [15]:
import pandas as pd

ebola = pd.read_csv("country_timeseries.csv")
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
122 - ebola.count()

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [5]:
ebola.fillna(ebola.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.000000,2335.337349,10030.000000,16.736842,1.08,3.277778,1.0,3.5,1786.00000,1101.209877,2977.000000,6.131579,0.0,0.833333,0.1875,3.166667
1,1/4/2015,288,2775.000000,2335.337349,9780.000000,16.736842,1.08,3.277778,1.0,3.5,1781.00000,1101.209877,2943.000000,6.131579,0.0,0.833333,0.1875,3.166667
2,1/3/2015,287,2769.000000,8166.000000,9722.000000,16.736842,1.08,3.277778,1.0,3.5,1767.00000,3496.000000,2915.000000,6.131579,0.0,0.833333,0.1875,3.166667
3,1/2/2015,286,911.064516,8157.000000,2427.367816,16.736842,1.08,3.277778,1.0,3.5,563.23913,3496.000000,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
4,12/31/2014,284,2730.000000,8115.000000,9633.000000,16.736842,1.08,3.277778,1.0,3.5,1739.00000,3471.000000,2827.000000,6.131579,0.0,0.833333,0.1875,3.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,3/27/2014,5,103.000000,8.000000,6.000000,16.736842,1.08,3.277778,1.0,3.5,66.00000,6.000000,5.000000,6.131579,0.0,0.833333,0.1875,3.166667
118,3/26/2014,4,86.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,62.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
119,3/25/2014,3,86.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,60.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
120,3/24/2014,2,86.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,59.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667
121,3/22/2014,0,49.000000,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.5,29.00000,1101.209877,693.701149,6.131579,0.0,0.833333,0.1875,3.166667

In [6]:
ebola.fillna(method = 'ffill') # front fill

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,2769.0,8157.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,3/27/2014,5,103.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,66.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
118,3/26/2014,4,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,62.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
119,3/25/2014,3,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,60.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
120,3/24/2014,2,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,59.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
121,3/22/2014,0,49.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,29.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0

In [7]:
ebola.fillna(method = 'bfill') # back fill

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,8166.0,10030.0,20.0,1.0,4.0,1.0,7.0,1786.0,3496.0,2977.0,8.0,0.0,1.0,0.0,6.0
1,1/4/2015,288,2775.0,8166.0,9780.0,20.0,1.0,4.0,1.0,7.0,1781.0,3496.0,2943.0,8.0,0.0,1.0,0.0,6.0
2,1/3/2015,287,2769.0,8166.0,9722.0,20.0,1.0,4.0,1.0,7.0,1767.0,3496.0,2915.0,8.0,0.0,1.0,0.0,6.0
3,1/2/2015,286,2730.0,8157.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3496.0,2827.0,8.0,0.0,1.0,0.0,6.0
4,12/31/2014,284,2730.0,8115.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3471.0,2827.0,8.0,0.0,1.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# 흐름에 맞게 데이터 값

from numpy import nan

box = ['12/1/2016', '12/3/2016', '12/4/2016', '12/10/2016']
box2 = pd.to_datetime(box)

data = pd.Series([1, nan, nan, 10], index=box2)
data.interpolate(method = 'time') # 흐름에 맞게 / 시간에 맞게

2016-12-01     1.0
2016-12-03     3.0
2016-12-04     4.0
2016-12-10    10.0
dtype: float64

In [13]:
ebola = ebola.interpolate()
ebola = ebola.fillna(method = 'ffill')
ebola = ebola.fillna(method = 'bfill')
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    object
 1   Day                  122 non-null    int64
 2   Cases_Guinea         122 non-null    float64
 3   Cases_Liberia        122 non-null    float64
 4   Cases_SierraLeone    122 non-null    float64
 5   Cases_Nigeria        122 non-null    float64
 6   Cases_Senegal        122 non-null    float64
 7   Cases_UnitedStates   122 non-null    float64
 8   Cases_Spain          122 non-null    float64
 9   Cases_Mali           122 non-null    float64
 10  Deaths_Guinea        122 non-null    float64
 11  Deaths_Liberia       122 non-null    float64
 12  Deaths_SierraLeone   122 non-null    float64
 13  Deaths_Nigeria       122 non-null    float64
 14  Deaths_Senegal       122 non-null    float64
 15  Deaths_UnitedStates  122 non-null    float64
 16  Deaths_Spain         122 non-null    float64
 17  Deaths_Mali          122 non-null    float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.3+ KB

In [14]:
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,8166.0,10030.0,20.0,1.0,4.0,1.0,7.0,1786.0,3496.0,2977.0,8.0,0.0,1.0,0.0,6.0
1,1/4/2015,288,2775.0,8166.0,9780.0,20.0,1.0,4.0,1.0,7.0,1781.0,3496.0,2943.0,8.0,0.0,1.0,0.0,6.0
2,1/3/2015,287,2769.0,8166.0,9722.0,20.0,1.0,4.0,1.0,7.0,1767.0,3496.0,2915.0,8.0,0.0,1.0,0.0,6.0
3,1/2/2015,286,2749.5,8157.0,9677.5,20.0,1.0,4.0,1.0,7.0,1753.0,3496.0,2871.0,8.0,0.0,1.0,0.0,6.0
4,12/31/2014,284,2730.0,8115.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3471.0,2827.0,8.0,0.0,1.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,3/27/2014,5,103.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,66.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
118,3/26/2014,4,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,62.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
119,3/25/2014,3,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,60.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
120,3/24/2014,2,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,59.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
121,3/22/2014,0,49.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,29.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0

In [16]:
ebola = pd.read_csv("country_timeseries.csv")

ebola.dropna() # 결측치가 하나라도 있는 행은 그냥 삭제

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0

In [18]:
ebola.drop(121)

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
idx = ebola[ebola['Day'] >= 100].index
ebola.drop(idx)

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
80,6/22/2014,92,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN
81,6/20/2014,90,390.0,NaN,158.0,NaN,NaN,NaN,NaN,NaN,270.0,NaN,34.0,NaN,NaN,NaN,NaN,NaN
82,6/19/2014,89,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN
83,6/18/2014,88,390.0,NaN,136.0,NaN,NaN,NaN,NaN,NaN,267.0,NaN,28.0,NaN,NaN,NaN,NaN,NaN
84,6/17/2014,87,NaN,NaN,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN
85,6/16/2014,86,398.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,264.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
86,6/10/2014,80,351.0,13.0,89.0,NaN,NaN,NaN,NaN,NaN,226.0,24.0,7.0,NaN,NaN,NaN,NaN,NaN
87,6/5/2014,75,NaN,13.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN
88,6/3/2014,73,344.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,215.0,12.0,6.0,NaN,NaN,NaN,NaN,NaN
89,6/1/2014,71,328.0,13.0,79.0,NaN,NaN,NaN,NaN,NaN,208.0,12.0,6.0,NaN,NaN,NaN,NaN,NaN
90,5/28/2014,67,291.0,13.0,50.0,NaN,NaN,NaN,NaN,NaN,193.0,12.0,6.0,NaN,NaN,NaN,NaN,NaN
91,5/27/2014,66,281.0,12.0,16.0,NaN,NaN,NaN,NaN,NaN,186.0,11.0,5.0,NaN,NaN,NaN,NaN,NaN
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# to_datetime, groupby, melt
# melt : 열을 행으로 내리는 값

pew = pd.read_csv("pew.csv")
pew2 = pd.melt(pew, id_vars = 'religion',
               var_name = "income",
               value_name = 'count')
pew2

                  religion              income  count
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [24]:
pew

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [26]:
billboard = pd.read_csv("billboard.csv")
billboard2 = pd.melt(billboard, id_vars = ['year', 'artist', 'track', 'time','date.entered'],
                     var_name = 'week',
                     value_name = 'rating')
billboard2

,year,artist,track,time,date.entered,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [28]:
ebola2 = pd.melt(ebola, id_vars = ['Date', 'Day'])
ebola2

            Date  Day      variable   value
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
...          ...  ...           ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

In [32]:
state = ebola2['variable'].str.split('_').str.get(0)
country = ebola2['variable'].str.split('_').str.get(1)

In [33]:
del ebola2['variable']
ebola2

            Date  Day   value
0       1/5/2015  289  2776.0
1       1/4/2015  288  2775.0
2       1/3/2015  287  2769.0
3       1/2/2015  286     NaN
4     12/31/2014  284  2730.0
...          ...  ...     ...
1947   3/27/2014    5     NaN
1948   3/26/2014    4     NaN
1949   3/25/2014    3     NaN
1950   3/24/2014    2     NaN
1951   3/22/2014    0     NaN

[1952 rows x 3 columns]

In [34]:
ebola2['State'] = state
ebola2['Country'] = country
ebola2

            Date  Day   value   State Country
0       1/5/2015  289  2776.0   Cases  Guinea
1       1/4/2015  288  2775.0   Cases  Guinea
2       1/3/2015  287  2769.0   Cases  Guinea
3       1/2/2015  286     NaN   Cases  Guinea
4     12/31/2014  284  2730.0   Cases  Guinea
...          ...  ...     ...     ...     ...
1947   3/27/2014    5     NaN  Deaths    Mali
1948   3/26/2014    4     NaN  Deaths    Mali
1949   3/25/2014    3     NaN  Deaths    Mali
1950   3/24/2014    2     NaN  Deaths    Mali
1951   3/22/2014    0     NaN  Deaths    Mali

[1952 rows x 5 columns]

In [37]:
# 최고기온, 최저기온 담은 데이터
weather = pd.read_csv("weather.csv")
weather2 = pd.melt(weather, id_vars = ['id', 'year', 'month', 'element'],
                   var_name = 'day',
                   value_name = 'temp')
weather2

          id  year  month element  day  temp
0    MX17004  2010      1    tmax   d1   NaN
1    MX17004  2010      1    tmin   d1   NaN
2    MX17004  2010      2    tmax   d1   NaN
3    MX17004  2010      2    tmin   d1   NaN
4    MX17004  2010      3    tmax   d1   NaN
..       ...   ...    ...     ...  ...   ...
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN

[682 rows x 6 columns]

In [39]:
# 행에 있는 값을 열로 올리겠습니다.
# pivot_table

weather3 = weather2.pivot_table(
    index = ['id', 'year', 'month', 'day'],
    columns = 'element',
    values = 'temp',
    dropna = True
)

weather3

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5

In [41]:
weather3 = weather2.pivot_table(index=['id', 'year', 'month', 'day'],
                                columns = 'element',
                                values = 'temp',
                                dropna = True)

weather3

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5

In [ ]:
weather= pd.read_csv("weather.csv")
weather2=pd.melt(weather, id_vars=['id','year','month','element'],
                 var_name= 'day',
                 value_name ='temp')
weather2

In [43]:
weather3.reset_index()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [45]:
billboard3 = billboard2[['year', 'artist', 'track', 'time']]
billboard3

       year            artist                    track  time
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22
1      2000           2Ge+her  The Hardest Part Of ...  3:15
2      2000      3 Doors Down               Kryptonite  3:53
3      2000      3 Doors Down                    Loser  4:24
4      2000          504 Boyz            Wobble Wobble  3:35
...     ...               ...                      ...   ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10
24088  2000  Yearwood, Trisha          Real Live Woman  3:55
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19
24090  2000     Zombie Nation            Kernkraft 400  3:30
24091  2000   matchbox twenty                     Bent  4:12

[24092 rows x 4 columns]

In [46]:
billboard3[billboard3['track'] == 'Loser']

       year        artist  track  time
3      2000  3 Doors Down  Loser  4:24
320    2000  3 Doors Down  Loser  4:24
637    2000  3 Doors Down  Loser  4:24
954    2000  3 Doors Down  Loser  4:24
1271   2000  3 Doors Down  Loser  4:24
...     ...           ...    ...   ...
22510  2000  3 Doors Down  Loser  4:24
22827  2000  3 Doors Down  Loser  4:24
23144  2000  3 Doors Down  Loser  4:24
23461  2000  3 Doors Down  Loser  4:24
23778  2000  3 Doors Down  Loser  4:24

[76 rows x 4 columns]

In [48]:
billboard3.drop_duplicates()

     year            artist                    track  time
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22
1    2000           2Ge+her  The Hardest Part Of ...  3:15
2    2000      3 Doors Down               Kryptonite  3:53
3    2000      3 Doors Down                    Loser  4:24
4    2000          504 Boyz            Wobble Wobble  3:35
..    ...               ...                      ...   ...
312  2000       Yankee Grey     Another Nine Minutes  3:10
313  2000  Yearwood, Trisha          Real Live Woman  3:55
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19
315  2000     Zombie Nation            Kernkraft 400  3:30
316  2000   matchbox twenty                     Bent  4:12

[317 rows x 4 columns]

In [50]:
import seaborn as sns

tips = sns.load_dataset("tips")
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [52]:
tips['sex'].astype("str")

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object

In [54]:
tips['total_bill'].astype("str")

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: object

In [55]:
tips['sex'].astype("category")

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Male', 'Female']

In [56]:
tips2 = tips.head(10)
tips2

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [57]:
tips2.loc[[1,3,5,7], 'total_bill'] = 'missing'
tips2

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

  total_bill   tip     sex smoker  day    time  size
0      16.99  1.01  Female     No  Sun  Dinner     2
1    missing  1.66    Male     No  Sun  Dinner     3
2      21.01  3.50    Male     No  Sun  Dinner     3
3    missing  3.31    Male     No  Sun  Dinner     2
4      24.59  3.61  Female     No  Sun  Dinner     4
5    missing  4.71    Male     No  Sun  Dinner     4
6       8.77  2.00    Male     No  Sun  Dinner     2
7    missing  3.12    Male     No  Sun  Dinner     4
8      15.04  1.96    Male     No  Sun  Dinner     2
9      14.78  3.23    Male     No  Sun  Dinner     2

In [58]:
tips2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  10 non-null     object
 1   tip         10 non-null     float64
 2   sex         10 non-null     category
 3   smoker      10 non-null     category
 4   day         10 non-null     category
 5   time        10 non-null     category
 6   size        10 non-null     int64
dtypes: category(4), float64(1), int64(1), object(1)
memory usage: 984.0+ bytes

In [59]:
tips2['total_bill'].astype("float")

ValueError: ignored

In [64]:
pd.to_numeric(tips2['total_bill'], errors = "coerce", downcast = 'float')

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float32

In [67]:
# 새로운열 만들기 : 사원번호 앞 4자리
df = pd.read_excel("직원 정보.xlsx", sheet_name = 'Sheet1')
df['사원번호 앞 4자리'] = df['사원번호'].str[:4]
df

,순번,성,이름,영문명,사원번호,주소,전화번호,사원번호 앞 4자리
0,1,김,철수,kim cheolsu,2005-1478345,강서구 공항로 20455,010-1000-8735,2005
1,2,박,종수,park jongsu,2010-1345972,강서구 대저중앙로 3009,010-1000-8736,2010
2,3,김,하나,kim hana,2012-1487234,강서구 하덕로 1002,010-1000-8737,2012
3,4,이,백만,lee baekman,2001-3747234,기장군 기장읍 연화100길,010-1000-8738,2001
4,5,백,오십,baek osip,2002-4972944,기장군 기장읍 차성로,010-1000-8739,2002
5,6,영웅,재준,youngwoong jaejun,2011-2382747,기장군 기장읍 기장해안로,010-1000-8740,2011
6,7,현,빈,hyun bin,2000-2395634,남구 지게골로 10-2,010-1000-8741,2000
7,8,장,하나,jang hana,2015-1626816,동래구 온천장로107-100,010-1000-8742,2015
8,9,유,두울,yoo dooul,2016-4323930,동래구 동래로116,010-1000-8743,2016
9,10,채,일,chae il,2012-3967845,북구 효열로 2502,010-1000-8744,2012

In [68]:
df['성명'] = df['성'] + df['이름']
del df['성']
del df['이름']
df

,순번,영문명,사원번호,주소,전화번호,사원번호 앞 4자리,성명
0,1,kim cheolsu,2005-1478345,강서구 공항로 20455,010-1000-8735,2005,김철수
1,2,park jongsu,2010-1345972,강서구 대저중앙로 3009,010-1000-8736,2010,박종수
2,3,kim hana,2012-1487234,강서구 하덕로 1002,010-1000-8737,2012,김하나
3,4,lee baekman,2001-3747234,기장군 기장읍 연화100길,010-1000-8738,2001,이백만
4,5,baek osip,2002-4972944,기장군 기장읍 차성로,010-1000-8739,2002,백오십
5,6,youngwoong jaejun,2011-2382747,기장군 기장읍 기장해안로,010-1000-8740,2011,영웅재준
6,7,hyun bin,2000-2395634,남구 지게골로 10-2,010-1000-8741,2000,현빈
7,8,jang hana,2015-1626816,동래구 온천장로107-100,010-1000-8742,2015,장하나
8,9,yoo dooul,2016-4323930,동래구 동래로116,010-1000-8743,2016,유두울
9,10,chae il,2012-3967845,북구 효열로 2502,010-1000-8744,2012,채일

In [72]:
df['구'] = df['주소'].str.split().str[0]
df

,순번,영문명,사원번호,주소,전화번호,사원번호 앞 4자리,성명,구
0,1,kim cheolsu,2005-1478345,강서구 공항로 20455,010-1000-8735,2005,김철수,강서구
1,2,park jongsu,2010-1345972,강서구 대저중앙로 3009,010-1000-8736,2010,박종수,강서구
2,3,kim hana,2012-1487234,강서구 하덕로 1002,010-1000-8737,2012,김하나,강서구
3,4,lee baekman,2001-3747234,기장군 기장읍 연화100길,010-1000-8738,2001,이백만,기장군
4,5,baek osip,2002-4972944,기장군 기장읍 차성로,010-1000-8739,2002,백오십,기장군
5,6,youngwoong jaejun,2011-2382747,기장군 기장읍 기장해안로,010-1000-8740,2011,영웅재준,기장군
6,7,hyun bin,2000-2395634,남구 지게골로 10-2,010-1000-8741,2000,현빈,남구
7,8,jang hana,2015-1626816,동래구 온천장로107-100,010-1000-8742,2015,장하나,동래구
8,9,yoo dooul,2016-4323930,동래구 동래로116,010-1000-8743,2016,유두울,동래구
9,10,chae il,2012-3967845,북구 효열로 2502,010-1000-8744,2012,채일,북구

In [74]:
df['영문명'].str.upper()

0          KIM CHEOLSU
1          PARK JONGSU
2             KIM HANA
3          LEE BAEKMAN
4            BAEK OSIP
5    YOUNGWOONG JAEJUN
6             HYUN BIN
7            JANG HANA
8            YOO DOOUL
9              CHAE IL
Name: 영문명, dtype: object

In [75]:
df['영문명'].str.lower()

0          kim cheolsu
1          park jongsu
2             kim hana
3          lee baekman
4            baek osip
5    youngwoong jaejun
6             hyun bin
7            jang hana
8            yoo dooul
9              chae il
Name: 영문명, dtype: object

In [76]:
df['영문명'].str.capitalize()

0          Kim cheolsu
1          Park jongsu
2             Kim hana
3          Lee baekman
4            Baek osip
5    Youngwoong jaejun
6             Hyun bin
7            Jang hana
8            Yoo dooul
9              Chae il
Name: 영문명, dtype: object

In [77]:
df['영문명'].str.swapcase()

0          KIM CHEOLSU
1          PARK JONGSU
2             KIM HANA
3          LEE BAEKMAN
4            BAEK OSIP
5    YOUNGWOONG JAEJUN
6             HYUN BIN
7            JANG HANA
8            YOO DOOUL
9              CHAE IL
Name: 영문명, dtype: object

In [81]:
df['전화번호'].str.replace("-", "", 1)

0    0101000-8735
1    0101000-8736
2    0101000-8737
3    0101000-8738
4    0101000-8739
5    0101000-8740
6    0101000-8741
7    0101000-8742
8    0101000-8743
9    0101000-8744
Name: 전화번호, dtype: object

In [83]:
df['주소'].str.len()

0    14
1    15
2    13
3    15
4    12
5    14
6    13
7    16
8    11
9    12
Name: 주소, dtype: int64

In [86]:
# 합, 평균 열 만들기
df = pd.read_excel("성적 처리.xlsx", sheet_name = 'Sheet1')
df

     반   성명  국어  영어  수학  사회  과학
0   1반  홍길동  93  80  94  73  64
1   5반  백일홍  93  63  76  84  92
2   3반  이삼상  94  74  86  90  70
3   4반  정말로  83  55  64  90  65
4   5반  한번도  87  95  66  75  60
5   4반  이철수  53  81  59  88  69
6   3반  김영자  71  71  51  84  57
7   5반  다니엘  87  54  95  71  97
8   2반  이미로  59  54  75  90  82
9   1반  신성삼  64  66  59  91  86
10  3반  케로로  56  76  52  64  65
11  2반  장발장  85  51  64  80  68
12  4반  백설공  75  57  77  57  91
13  5반  이태원  54  97  88  56  78
14  4반  우주로  96  54  51  54  78
15  3반  조미료  86  68  97  56  85
16  1반  소행성  62  58  58  62  73
17  1반  유비비  67  94  61  61  52
18  2반  이관우  91  65  57  79  93
19  2반  장비비  52  82  93  81  75

In [94]:
# df['합'] = df['국어'] + df['영어'] + df['수학'] + df['사회'] + df['과학']
# df['평균'] = df['합'] / 5
# df

df['합'] = df.iloc[:, 2:].sum(axis = 1)
df['평균'] = df['합'] / 5
df

     반   성명  국어  영어  수학  사회  과학    합    평균
0   1반  홍길동  93  80  94  73  64  404  80.8
1   5반  백일홍  93  63  76  84  92  408  81.6
2   3반  이삼상  94  74  86  90  70  414  82.8
3   4반  정말로  83  55  64  90  65  357  71.4
4   5반  한번도  87  95  66  75  60  383  76.6
5   4반  이철수  53  81  59  88  69  350  70.0
6   3반  김영자  71  71  51  84  57  334  66.8
7   5반  다니엘  87  54  95  71  97  404  80.8
8   2반  이미로  59  54  75  90  82  360  72.0
9   1반  신성삼  64  66  59  91  86  366  73.2
10  3반  케로로  56  76  52  64  65  313  62.6
11  2반  장발장  85  51  64  80  68  348  69.6
12  4반  백설공  75  57  77  57  91  357  71.4
13  5반  이태원  54  97  88  56  78  373  74.6
14  4반  우주로  96  54  51  54  78  333  66.6
15  3반  조미료  86  68  97  56  85  392  78.4
16  1반  소행성  62  58  58  62  73  313  62.6
17  1반  유비비  67  94  61  61  52  335  67.0
18  2반  이관우  91  65  57  79  93  385  77.0
19  2반  장비비  52  82  93  81  75  383  76.6

In [91]:
df

     반   성명  국어  영어  수학  사회  과학
0   1반  홍길동  93  80  94  73  64
1   5반  백일홍  93  63  76  84  92
2   3반  이삼상  94  74  86  90  70
3   4반  정말로  83  55  64  90  65
4   5반  한번도  87  95  66  75  60
5   4반  이철수  53  81  59  88  69
6   3반  김영자  71  71  51  84  57
7   5반  다니엘  87  54  95  71  97
8   2반  이미로  59  54  75  90  82
9   1반  신성삼  64  66  59  91  86
10  3반  케로로  56  76  52  64  65
11  2반  장발장  85  51  64  80  68
12  4반  백설공  75  57  77  57  91
13  5반  이태원  54  97  88  56  78
14  4반  우주로  96  54  51  54  78
15  3반  조미료  86  68  97  56  85
16  1반  소행성  62  58  58  62  73
17  1반  유비비  67  94  61  61  52
18  2반  이관우  91  65  57  79  93
19  2반  장비비  52  82  93  81  75

In [95]:
df.groupby("반").sum()

     국어   영어   수학   사회   과학     합     평균
반
1반  286  298  272  287  275  1418  283.6
2반  287  252  289  330  318  1476  295.2
3반  307  289  286  294  277  1453  290.6
4반  307  247  251  289  303  1397  279.4
5반  321  309  325  286  327  1568  313.6

In [96]:
df.groupby("반").mean()

       국어     영어     수학     사회     과학       합     평균
반
1반  71.50  74.50  68.00  71.75  68.75  354.50  70.90
2반  71.75  63.00  72.25  82.50  79.50  369.00  73.80
3반  76.75  72.25  71.50  73.50  69.25  363.25  72.65
4반  76.75  61.75  62.75  72.25  75.75  349.25  69.85
5반  80.25  77.25  81.25  71.50  81.75  392.00  78.40

In [98]:
# 순위

# average : 동점은 평균으로 순위 부여
# 3위가 2개이면, 3.5로 순위를 부여하고 다음 순위는 5위

df['순위'] = df['평균'].rank(method = 'average', ascending=False)
df

     반   성명  국어  영어  수학  사회  과학    합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   3.5
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  12.5
4   5반  한번도  87  95  66  75  60  383  76.6   7.5
5   4반  이철수  53  81  59  88  69  350  70.0  14.0
6   3반  김영자  71  71  51  84  57  334  66.8  17.0
7   5반  다니엘  87  54  95  71  97  404  80.8   3.5
8   2반  이미로  59  54  75  90  82  360  72.0  11.0
9   1반  신성삼  64  66  59  91  86  366  73.2  10.0
10  3반  케로로  56  76  52  64  65  313  62.6  19.5
11  2반  장발장  85  51  64  80  68  348  69.6  15.0
12  4반  백설공  75  57  77  57  91  357  71.4  12.5
13  5반  이태원  54  97  88  56  78  373  74.6   9.0
14  4반  우주로  96  54  51  54  78  333  66.6  18.0
15  3반  조미료  86  68  97  56  85  392  78.4   5.0
16  1반  소행성  62  58  58  62  73  313  62.6  19.5
17  1반  유비비  67  94  61  61  52  335  67.0  16.0
18  2반  이관우  91  65  57  79  93  385  77.0   6.0
19  2반  장비비  52  82  93  81  75  383  76.6   7.5

In [99]:
# min : 동점은 취소 순위 부여
# 3위가 2개이면, 둘다 3위로 부여, 다음 순위는 5등

df['순위'] = df['평균'].rank(method = 'min', ascending=False)
df

     반   성명  국어  영어  수학  사회  과학    합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   3.0
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  12.0
4   5반  한번도  87  95  66  75  60  383  76.6   7.0
5   4반  이철수  53  81  59  88  69  350  70.0  14.0
6   3반  김영자  71  71  51  84  57  334  66.8  17.0
7   5반  다니엘  87  54  95  71  97  404  80.8   3.0
8   2반  이미로  59  54  75  90  82  360  72.0  11.0
9   1반  신성삼  64  66  59  91  86  366  73.2  10.0
10  3반  케로로  56  76  52  64  65  313  62.6  19.0
11  2반  장발장  85  51  64  80  68  348  69.6  15.0
12  4반  백설공  75  57  77  57  91  357  71.4  12.0
13  5반  이태원  54  97  88  56  78  373  74.6   9.0
14  4반  우주로  96  54  51  54  78  333  66.6  18.0
15  3반  조미료  86  68  97  56  85  392  78.4   5.0
16  1반  소행성  62  58  58  62  73  313  62.6  19.0
17  1반  유비비  67  94  61  61  52  335  67.0  16.0
18  2반  이관우  91  65  57  79  93  385  77.0   6.0
19  2반  장비비  52  82  93  81  75  383  76.6   7.0

In [100]:
# average : 동점은 최대값으로 순위 부여
# 3위가 2개이면, 4로 순위를 부여하고 다음 순위는 5위

df['순위'] = df['평균'].rank(method = 'max', ascending=False)
df

     반   성명  국어  영어  수학  사회  과학    합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   4.0
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  13.0
4   5반  한번도  87  95  66  75  60  383  76.6   8.0
5   4반  이철수  53  81  59  88  69  350  70.0  14.0
6   3반  김영자  71  71  51  84  57  334  66.8  17.0
7   5반  다니엘  87  54  95  71  97  404  80.8   4.0
8   2반  이미로  59  54  75  90  82  360  72.0  11.0
9   1반  신성삼  64  66  59  91  86  366  73.2  10.0
10  3반  케로로  56  76  52  64  65  313  62.6  20.0
11  2반  장발장  85  51  64  80  68  348  69.6  15.0
12  4반  백설공  75  57  77  57  91  357  71.4  13.0
13  5반  이태원  54  97  88  56  78  373  74.6   9.0
14  4반  우주로  96  54  51  54  78  333  66.6  18.0
15  3반  조미료  86  68  97  56  85  392  78.4   5.0
16  1반  소행성  62  58  58  62  73  313  62.6  20.0
17  1반  유비비  67  94  61  61  52  335  67.0  16.0
18  2반  이관우  91  65  57  79  93  385  77.0   6.0
19  2반  장비비  52  82  93  81  75  383  76.6   8.0

In [101]:
# average : 동점은 평균으로 순위 부여
# 3위가 2개이면, 처음 발견한 3등 3등, 4등

df['순위'] = df['평균'].rank(method = 'first', ascending=False)
df

     반   성명  국어  영어  수학  사회  과학    합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   3.0
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  12.0
4   5반  한번도  87  95  66  75  60  383  76.6   7.0
5   4반  이철수  53  81  59  88  69  350  70.0  14.0
6   3반  김영자  71  71  51  84  57  334  66.8  17.0
7   5반  다니엘  87  54  95  71  97  404  80.8   4.0
8   2반  이미로  59  54  75  90  82  360  72.0  11.0
9   1반  신성삼  64  66  59  91  86  366  73.2  10.0
10  3반  케로로  56  76  52  64  65  313  62.6  19.0
11  2반  장발장  85  51  64  80  68  348  69.6  15.0
12  4반  백설공  75  57  77  57  91  357  71.4  13.0
13  5반  이태원  54  97  88  56  78  373  74.6   9.0
14  4반  우주로  96  54  51  54  78  333  66.6  18.0
15  3반  조미료  86  68  97  56  85  392  78.4   5.0
16  1반  소행성  62  58  58  62  73  313  62.6  20.0
17  1반  유비비  67  94  61  61  52  335  67.0  16.0
18  2반  이관우  91  65  57  79  93  385  77.0   6.0
19  2반  장비비  52  82  93  81  75  383  76.6   8.0

In [102]:
# average : 동점은 평균으로 순위 부여
# 3위가 2개이면, min이랑 같다. 둘다 3위, 그 다음 순위 4등

df['순위'] = df['평균'].rank(method = 'dense', ascending=False)
df

     반   성명  국어  영어  수학  사회  과학    합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   3.0
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  10.0
4   5반  한번도  87  95  66  75  60  383  76.6   6.0
5   4반  이철수  53  81  59  88  69  350  70.0  11.0
6   3반  김영자  71  71  51  84  57  334  66.8  14.0
7   5반  다니엘  87  54  95  71  97  404  80.8   3.0
8   2반  이미로  59  54  75  90  82  360  72.0   9.0
9   1반  신성삼  64  66  59  91  86  366  73.2   8.0
10  3반  케로로  56  76  52  64  65  313  62.6  16.0
11  2반  장발장  85  51  64  80  68  348  69.6  12.0
12  4반  백설공  75  57  77  57  91  357  71.4  10.0
13  5반  이태원  54  97  88  56  78  373  74.6   7.0
14  4반  우주로  96  54  51  54  78  333  66.6  15.0
15  3반  조미료  86  68  97  56  85  392  78.4   4.0
16  1반  소행성  62  58  58  62  73  313  62.6  16.0
17  1반  유비비  67  94  61  61  52  335  67.0  13.0
18  2반  이관우  91  65  57  79  93  385  77.0   5.0
19  2반  장비비  52  82  93  81  75  383  76.6   6.0

In [104]:
# 데이터 크롤링 : 인터넷에서 데이터를 수집

# HTML : 파이썬으로 HTML을 다루는 기능이 없을까?
# 페이지를 요청하는 기능이 없을까?

import requests  # 페이지 요청
from bs4 import BeautifulSoup # 파이썬으로 HTML을 다루는 기능

In [107]:
url = requests.get("https://search.daum.net/search?w=tot&DA=UME&t__nil_searchbox=suggest&sug=&sugo=16&sq=%EB%A1%9C%EB%98%90&o=4&q=%EB%A1%9C%EB%98%90")

# 200 : 정상 / 400번대 : 존재하지않는페이지 // 500번대 : 로그인
# 어떻게 데이터를 쓰냐에 불법

# 전체 데이터 가져오면 : 크롤링
# 일부분 가져오면 : 스크래핑

html = BeautifulSoup(url.text) # url.text를 html로 변환해줘!
html

<!DOCTYPE html>
<html class="unix " lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
<meta content="text/html;charset=utf-8" http-equiv="content-Type"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="off" name="autocomplete"/>
<meta content="always" name="referrer"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="로또 – Daum 검색" property="og:title"/>
<meta content="https://search.daum.net/search?w=tot&amp;q=%EB%A1%9C%EB%98%90" property="og:url"/>
<meta content="Daum 검색에서 로또에 대한 최신정보를 찾아보세요." property="og:description"/>
<meta content="https://search1.daumcdn.net/search/statics/common/img/og_search.png" property="og:image"/>
<meta content="다음검색" property="og:site_name"/>
<title>로또 – Daum 검색</title>
<link href="//search.daum.net/OpenSearch.xml" rel="search" title="Daum" type="application/opensearchdescription+xml"/>
<link charset="utf-8" href="//search1.daumcdn.net/search/statics/common/css/2022/p_common.0808041036.css" rel="stylesheet" type="text/css"/>
<link charset="utf-8" href="//search1.daumcdn.net/search/statics/common/css/2022/p_component.0323101719.css" rel="stylesheet" type="text/css"/>
<link charset="utf-8" href="//search1.daumcdn.net/search/statics/common/css/2022/p_collection.0808050938.css" rel="stylesheet" type="text/css"/>
<link charset="utf-8" href="//search1.daumcdn.net/search/statics/common/css/2022/p_collection2.0614100340.css" rel="stylesheet" type="text/css"/>
<link charset="utf-8" href="//search1.daumcdn.net/search/statics/common/css/2019/p_bookColl.0716052105.css" rel="stylesheet" type="text/css"/>
<link charset="utf-8" href="//search1.daumcdn.net/search/statics/common/css/2020/p_lottoColl.0504112601.css" rel="stylesheet" type="text/css"/>
<link charset="utf-8" href="//search1.daumcdn.net/search/statics/common/css/2022/p_adLinkColl.0427044505.css" rel="stylesheet" type="text/css"/>
<link charset="utf-8" href="//search1.daumcdn.net/search/statics/common/css/2022/p_poiColl.0401052251.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
var SF, C, T;
var uk = "Ywg9j5KtEwY0iYlxxWkYSgAAAHs";
var mk = "Ywg9j5KtEwY0iYlxxWkYSgAAAHs";
var ud = "";
var uuid = "";
var adid = "";
var adid_enabled = "N";
var viewio = "i";
var viewsite = "";
var ServerTime = "20220826122711";
var EnQuery = "%B7%CE%B6%C7";
var utf8Query = "%EB%A1%9C%EB%98%90";
var topQuery = "로또";
var backQuery = "%EB%A1%9C%EB%98%90";
var login_yn = "N";
var encodeType = "2";
var refCode = "";
var bucketType = "";
var name_check = "0";
var mobileDevice = "N";
var param_w="tot";
var param_da = "UME";
var paramCfg = "";
var param_cnucc = "";
var tpl_cfg = "";
var cnucc = "";
var usrIp = "34.90.1.160";
var isDetailTab = "N";
var schSort = "";
var width_over_620 = "N";

var isReleaseMode = "";

var KAKAO_ACCOUNT_ID_CONNECTED = "N";

var displayInfo = {"SER":[{"code":"0DL","doc_count":1},{"code":"LOT","doc_count":1},{"code":"0UL","doc_count":10},{"code":"0SC","doc_count":3},{"code":"NNS","doc_count":4},{"code":"TWA","doc_count":8},{"code":"BRC","doc_count":7},{"code":"1DV","doc_count":3},{"code":"IVR","doc_count":4},{"code":"LB2","doc_count":3},{"code":"VO2","doc_count":5},{"code":"GG2","doc_count":6},{"code":"BBN","doc_count":1},{"code":"1SB","doc_count":2},{"code":"CLO","doc_count":7}],"SGR":[{"code":"NSJ","doc_count":0},{"code":"DCC","doc_count":0},{"code":"LCY","doc_count":0},{"code":"R07","doc_count":0},{"code":"R02","doc_count":0},{"code":"R06","doc_count":0},{"code":"TOG","doc_count":0},{"code":"RSJ","doc_count":0}],"SUI":[]}
;
var slCallType = "sync";
var pageLoadedTime = 0;
var startTime = new Date().getTime();
var sugLocCode = "";
var searchLog = {
uc: 0,
clickCount: 0,
dl: ""
};
var SEARCHLOGDOMAIN = "//sl.search.daum.net";

var CNUCC_URL = "//harm.search.daum.net/api/harmRegister";
</script>
<script id="answer-korea-weather-template" type="text/html">
<span class="weather_comp">
<span class="txt_exact ico_suggest" data-bind="css: icon40">
<span class="tit" data-bind="text: areaname"></span>
<span class="cont"><span class="txt_cont" data-bind="text: wtext5s"></span> <span class="txt_num1 ico_suggest2 ico_celsius" data-bind="text: temp"></span><span class="txt_unit">℃</span></span>
</span>
<span class="txt_time" data-bind="text: (announce + ' 기준') "></span>
</span>
</script>
<script charset="utf-8" src="//search1.daumcdn.net/search/statics/common/js/fe/tot-search/polyfill/p/polyfill.p.common.20200707150840.min.js" type="text/javascript"></script>
<script charset="utf-8" src="//search1.daumcdn.net/search/statics/common/js/fe/tot-search/vendor/p/common/vendor.p.common.20220722123947.min.js" type="text/javascript"></script>
<script charset="utf-8" src="//search1.daumcdn.net/search/statics/common/js/log/p_log.min.20220628114535.js" type="text/javascript"></script>
<script charset="utf-8" src="//search1.daumcdn.net/search/statics/common/js/fe/tot-search/module/p/common/module.p.common.20220722124355.min.js" type="text/javascript"></script>
<script charset="utf-8" src="//search1.daumcdn.net/search/statics/common/js/fe/tot-search/module/p/search/module.p.search.20220711150506.min.js" type="text/javascript"></script>
<script>
(function(SF, $, SL) {
Object.assign(SF, {
logStaticErrors: {
isArgonUrl: function(url) {
return url.indexOf('argon') !== -1;
},
extractArgonId: function(url) {
return url.split('/').pop();
},
createFreeLogParams: function(ids) {
return {
timg: ids.join(',')
};
},
chunkCall: function (fn, options) {
var chunk = [];
var debounced = $.debounce(function() {
if (chunk.length > 0) {
fn(chunk);
chunk = [];
}
}, options.timeout);
return function (arg) {
chunk.push(arg);
if (chunk.length >= options.chunkSize) {
fn(chunk);
chunk = [];
}
debounced();
};
},
init: function() {
this.subscribe();
},
subscribe: function() {
if (!('addEventListener' in document)) {
return;
}
var sendLog = this.chunkCall(this.sendLog.bind(this), {
timeout: 1000,
chunkSize: 50
});
var onError = this.onError.bind(this, sendLog);
this.unsubscribe = function () {
window.removeEventListener('error', onError);
};
window.addEventListener('error', onError, true);
},
onError: function (callback, event) {
var src = event.target.src;
if (typeof src === 'string' && this.isArgonUrl(src)) {
callback(this.extractArgonId(src));
}
},
sendLog: function(argonIds) {
var params = this.createFreeLogParams(argonIds);
SL.freelog.send(params);
},
unsubscribe: $.noop
}
});
})(window.SF || {}, window.jQuery, window.SL || {});
SF.logStaticErrors.init();
</script>
<script type="text/javascript">
SF.loadModuleList = {
"amcharts":"//search1.daumcdn.net/search/statics/common/js/fe/tot-search/library/p/amcharts.20190321202015.min.js",
"calendar":"//search1.daumcdn.net/search/statics/common/js/fe/tot-search/module/p/calendar/module.p.calendar.20210312112039.min.js",
"chart":"//search1.daumcdn.net/search/statics/common/js/fe/tot-search/library/p/chart.20200602182334.min.js",
"kakaosdk":"//search1.daumcdn.net/search/statics/common/js/fe/tot-search/library/p/kakaosdk.20190321202015.min.js",
"kakaotv":"//tv.kakao.com/player/script/sdk/player_api.min.js",
"pagenavigation":"//search1.daumcdn.net/search/statics/common/js/fe/tot-search/module/p/pagenavigation/module.p.pagenavigation.20220705092744.min.js",
"youtube":"//www.youtube.com/player_api"
};
</script>
<script type="text/javascript">
(function(SF) {
Object.assign(SF, {
phase: 'prod'
});
})(window.SF);
</script>
<!--[if IE]>
<script src="//search1.daumcdn.net/search/statics/common/js/g/html5.min.js"></script>
<![endif]-->
</head>
<body class="daum netizen_btm">
<script type="text/javascript">
SL.mkeyLog();
</script>
<nav class="d_direct" id="daumIndex">
<a class="link_direct" href="#daumBody">본문 바로가기</a>
<a class="link_direct" href="#daumGnb">메뉴 바로가기</a>
</nav>
<div id="tooltipContent"></div> <!-- TT -->
<div id="saq" style="display:none">로또</div>
<article class="sch_tab_tot" id="daumWrap">
<header id="daumHead">
<div class="inner_header" id="innerHeader">
<h1>
<a href="https://www.daum.net/?nil_profile=daum&amp;nil_src=search" id="daumLogo" onclick='smartLog(this, "e=1&amp;dc=MLC", event);' target="_top" title="Daum 메인페이지로 가기">
<img alt="Daum" height="34" src="//search1.daumcdn.net/search/statics/common/pi/logo/daumlogo_170324.png" width="84"/>
</a>
<span class="screen_out" id="daumServiceLogo">검색</span>
</h1>
<form class="d_sch" id="daumSearch" method="get" name="search">
<fieldset class="fld_total">
<legend class="screen_out">검색폼</legend>
<input id="nil_suggest" name="nil_suggest" type="hidden" value="btn"/>
<input id="nil_ch" name="nil_ch" type="hidden" value=""/>
<input name="rtupcoll" type="hidden" value=""/>
<input name="w" type="hidden" value="tot"/>
<input name="m" type="hidden" value=""/>
<input id="f" name="f" type="hidden" value=""/>
<input name="lpp" type="hidden" value=""/>
<input name="DA" type="hidden" value="SBC"/>
<input name="sug" type="hidden" value=""/>
<input name="sq" type="hidden" value=""/>
<input name="o" type="hidden" value=""/>
<input name="sugo" type="hidden" value=""/>
<div class="box_searchbar">
<div class="inner_searchbar">
<input autocomplete="off" class="tf_keyword" id="q" maxlength="255" name="q" spellcheck="false" title="검색어 입력" type="text" value="로또"/>
<button class="btn_reset" id="btnResetHeader" onclick="smartLog(this, 'pg=1&amp;p=2&amp;r=1&amp;rc=1&amp;dc=SBC&amp;at=func',event);" type="button">
<span class="ico_ksearch">입력삭제</span>
</button>
<button class="img_keyboard btn_key" id="VKIBtn" onclick="SF.virtualKeyboardHandler.call();smartLog(this, 'pg=1&amp;p=1&amp;r=1&amp;rc=1&amp;dc=BFJ&amp;at=func',event);return false;" type="button"><span class="ir_wa">한글입력기</span></button>
<button class="ico_ksearch btn_ksearch" id="daumBtnSearch" type="submit"><span class="ir_wa">검색</span></button>
</div>
</div>
<div class="wrap_suggestBox" id="wrap_suggestBox"><div class="suggestBox box_sub" id="suggestBox"></div></div>
</fieldset>
</form>
<script type="text/javascript">
(function(){
var headerSearchModule = new SF.HeaderSearchForm({
suggestOption: {
AnswerAPIServer: "https://ninstant.search.daum.net/suggest/index.daum"
}
});
headerSearchModule.init();
})();
</script>
<div id="wrapMinidaum"></div>
<div class="keyboard_layer" id="VKILayout" style="display:none;"></div>
<div class="cl_b"></div>
</div>
<div id="daumGnb">
<div class="wrap_gnb">
<ul class="gnb_search">
<li class="on">
<span class="screen_out">선택된 항목</span>
<a class="tab tab_total" href="?w=tot&amp;q=%EB%A1%9C%EB%98%90&amp;DA=NTB" onclick='smartLog(this, "pg=1&amp;r=1&amp;p=1&amp;rc=1&amp;dc=NTB&amp;at=more", event);'><span class="inner_tab"><span class="txt_tab">통합검색</span></span></a>
</li>
<li class="">
<a class="tab tab_news" href="?w=news&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;cluster=y&amp;cluster_page=1&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=2&amp;p=1&amp;rc=1&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">뉴스</span></span>
</a>
</li>
<li class="">
<a class="tab tab_fusion" href="?w=fusion&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=3&amp;p=1&amp;rc=1&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">통합웹</span></span>
</a>
</li>
<li class="">
<a class="tab tab_brunch" href="?w=brunch&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=4&amp;p=1&amp;rc=1&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">브런치</span></span>
</a>
</li>
<li class="">
<a class="tab tab_dic100" href="http://100.daum.net/search/entry?q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=5&amp;p=1&amp;rc=1&amp;dc=NTB&amp;at=more", event);' target="_blank">
<span class="inner_tab">
<span class="txt_tab">백과사전</span>
<span class="ico_ksearch ico_outlink">새창</span>
</span>
</a>
</li>
<li class="">
<a class="tab tab_site" href="?w=site&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;lpp=10&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=6&amp;p=1&amp;rc=1&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">사이트</span></span>
</a>
</li>
<li class="">
<a class="tab tab_book" href="?w=book&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=7&amp;p=1&amp;rc=1&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">책</span></span>
</a>
</li>
<li class="">
<a class="tab tab_vclip" href="?w=vclip&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=8&amp;p=1&amp;rc=1&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">동영상</span></span>
</a>
</li>
</ul>
<div class="more_search">
<a class="btn_tab" href="javascript:;" id="gnbToggleBtn">
<span class="txt_btn">더보기/접기</span>
</a>
<ul class="list_more">
<li class="">
<a class="link_more tab_map" href="http://map.daum.net/?from=total&amp;nil_suggest=btn&amp;tab=place&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=9&amp;p=2&amp;rc=1&amp;e1=TO&amp;e2=GG2Z&amp;dc=NTB&amp;at=more", event);' target="_blank">
<span class="inner_tab">
<span class="txt_tab">지도</span>
<span class="ico_ksearch ico_outlink">새창</span>
</span>
</a>
</li>
<li class="">
<a class="link_more tab_img" href="?w=img&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=10&amp;p=2&amp;rc=1&amp;e1=TO&amp;e2=IIMZ&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">이미지</span></span>
</a>
</li>
<li class="">
<a class="link_more tab_blog" href="?w=blog&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=11&amp;p=2&amp;rc=1&amp;e1=TO&amp;e2=BR1Z&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">블로그</span></span>
</a>
</li>
<li class="">
<a class="link_more tab_cafe" href="?w=cafe&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;ASearchType=1&amp;lpp=10&amp;rlang=0&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=12&amp;p=2&amp;rc=1&amp;e1=TO&amp;e2=CCBZ&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">카페</span></span>
</a>
</li>
<li class="">
<a class="link_more tab_webdoc" href="?w=web&amp;nil_search=btn&amp;DA=NTB&amp;enc=utf8&amp;lpp=10&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=13&amp;p=2&amp;rc=1&amp;e1=TO&amp;e2=WSAZ&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">웹문서</span></span>
</a>
</li>
<li class="">
<a class="link_more tab_dic" href="http://dic.daum.net/search.do?q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=14&amp;p=2&amp;rc=1&amp;e1=TO&amp;e2=DICZ&amp;dc=NTB&amp;at=more", event);' target="_blank">
<span class="inner_tab">
<span class="txt_tab">어학사전</span>
<span class="ico_ksearch ico_outlink">새창</span>
</span>
</a>
</li>
<li class="">
<a class="link_more tab_shop" href="https://shoppinghow.kakao.com/search/%EB%A1%9C%EB%98%90/&amp;srchhow=Cexpo" onclick='smartLog(this, "pg=1&amp;r=15&amp;p=2&amp;rc=1&amp;e1=TO&amp;e2=SNPZ&amp;dc=NTB&amp;at=more", event);' target="_blank">
<span class="inner_tab">
<span class="txt_tab">쇼핑</span>
<span class="ico_ksearch ico_outlink">새창</span>
</span>
</a>
</li>
<li class="">
<a class="link_more tab_music" href="?w=music&amp;m=song&amp;nil_search=btn&amp;DA=NTB&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=16&amp;p=2&amp;rc=1&amp;e1=TO&amp;e2=MS2Z&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">멜론뮤직</span></span>
</a>
</li>
<li class="">
<a class="link_more tab_kstory" href="?w=kstory&amp;nil_search=btn&amp;DA=NTB&amp;q=%EB%A1%9C%EB%98%90" onclick='smartLog(this, "pg=1&amp;r=17&amp;p=2&amp;rc=1&amp;e1=TO&amp;e2=KASZ&amp;dc=NTB&amp;at=more", event);'>
<span class="inner_tab"><span class="txt_tab">카카오스토리</span></span>
</a>
</li>
</ul>
</div>
<div class="select_comp_d">
<div data-option-type="period" style="position:relative;">
<div class="btn_flex btn_selected tit_menu">
<span class="inner ">
<span class="txt_date label">기간전체</span>
<span class="ico_tabopt ico_arr"></span>
</span>
</div>
<div class="layer_opt">
<ul class="list_opt">
<li>
<a class="tit_item" data-label="기간전체" data-period="" href="javascript:;" onclick='smartLog(this, "pg=1&amp;r=1&amp;p=1&amp;dc=STC&amp;at=func", event);'>
<span class="txt_data">기간전체</span>
</a>
</li>
<li>
<a class="tit_item" data-label="최근 1일" data-period="d" href="javascript:;" onclick='smartLog(this, "pg=1&amp;r=1&amp;p=2&amp;dc=STC&amp;at=func", event);'>
<span class="txt_data">최근 1일</span>
</a>
</li>
<li>
<a class="tit_item" data-label="최근 1주" data-period="w" href="javascript:;" onclick='smartLog(this, "pg=1&amp;r=1&amp;p=3&amp;dc=STC&amp;at=func", event);'>
<span class="txt_data">최근 1주</span>
</a>
</li>
<li>
<a class="tit_item" data-label="최근 1개월" data-period="m" href="javascript:;" onclick='smartLog(this, "pg=1&amp;r=1&amp;p=4&amp;dc=STC&amp;at=func", event);'>
<span class="txt_data">최근 1개월</span>
</a>
</li>
<li>
<a class="tit_item" data-label="최근 6개월" data-period="6m" href="javascript:;" onclick='smartLog(this, "pg=1&amp;r=1&amp;p=5&amp;dc=STC&amp;at=func", event);'>
<span class="txt_data">최근 6개월</span>
</a>
</li>
<li>
<a class="tit_item" data-label="최근 1년" data-period="y" href="javascript:;" onclick='smartLog(this, "pg=1&amp;r=1&amp;p=6&amp;dc=STC&amp;at=func", event);'>
<span class="txt_data">최근 1년</span>
</a>
</li>
</ul>
<div class="box_sub box_date" data-period="u">
<strong class="tit_other">직접입력</strong>
<div class="item_date">
<input class="tf_txt " title="검색기간 시작일" type="text" value="2016.01.01"/>
<a class="btn_date" href="javascript:;">
<img alt="Select date" class="ui-datepicker-trigger" src="https://search1.daumcdn.net/search/statics/common/pi/ico/ico_calendar.gif" title="Select date"/>
</a>
</div>
<div class="item_date">
<input class="tf_txt" title="검색기간 종료일" type="text" value="2016.01.01"/>
<a class="btn_date" href="javascript:;">
<img alt="Select date" class="ui-datepicker-trigger" src="https://search1.daumcdn.net/search/statics/common/pi/ico/ico_calendar.gif" title="Select date"/>
</a>
</div>
<button class="btn_confirm" type="submit">적용</button>
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">

_jsSetCookieNonEscape = function(name,value){
document.cookie = name+"="+value+"; path=/;";
};
_jsSetCookieNonEscape("ODT", "NNSZ_TWAZ_BRCZ_1DVZ_IVRZ_LB2Z_VO2Z_");
_jsSetCookieNonEscape("DDT", "GG2Z_IIMZ_BR1Z_CCBZ_WSAZ_DICZ_SNPZ_MS2Z_KASZ_");
_jsSetCookieNonEscape("DTQUERY", "%EB%A1%9C%EB%98%90" );


(function($, SF) {
$(document).on('ready', function(){
var searchOption = new SF.SearchOption({
context: '#daumGnb',
selector: {
container: '.layer_opt',
button: '.btn_flex',
periodContainer: 'div[data-option-type="period"]'
}
});
searchOption.init();
searchOption.close();
});
$.removeCookie('SCH_SORT', {domain: '.search.daum.net'});
})(window.jQuery, window.SF);

</script>
<form method="get" name="cUccForm">
<input name="kword" type="hidden"/>
<input name="colid" type="hidden"/>
<input name="docid" type="hidden"/>
<input name="backurl" type="hidden"/>
</form>
<form method="get" name="urForm">
<input name="q" type="hidden"/>
</form>
<div class="clr"></div>
<!-- // daumGnb -->
<div class="skiptonavi" id="searchData" name="searchData"></div>
<!-- End Header -->
</header>
<script id="suggest-footer-template" type="text/html">
<div>
<span>
<div class="fr">
<a href="http://cs.daum.net/faq/15/14957.html#28978" class="isSuggest" target="_blank" onclick="smartLog(this, 'dc=SUG&p=5&r=1', event);">서제스트란?</a>
</div>
</span>
</div>
</script>
<article id="daumContent">
<div id="cMain">
<script type="text/javascript">
searchLog.dl = 'NSJ0_0DL1_LOT1_0UL10_0SC3_NNS8_TWA8_BRC7_1DV3_IVR4_LB23_VO25_GG26_BBN1_DCC0_1SB2_LCY0_R070_R020_R060_TOG0_RSJ0_CLO7';	/* ISM DISPLAY_RESULT */
var smDisCode = "";

In [111]:
# span 태그 (class 속성값 f_red)

current = int(html.find("span", class_ = 'f_red').text.replace("회", ""))
current

1029

In [113]:
# 숫자 12 가져오기

html.find('span', class_ = 'ball bg_ball2').text

'12'

In [119]:
numbers = html.find('div', class_ = 'lottonum').find_all('span')

del numbers[-2]
del numbers[-2]

for i in numbers:
    print(i.text)

12
30
32
37
39
41
24