In [2]:
import requests # 요청
from bs4 import BeautifulSoup # Python으로 HTML을 다루기 위해
import pandas as pd
import time

In [8]:
# 현재회차
url = requests.get("https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&sq=&o=&q=%EB%A1%9C%EB%98%90")
html = BeautifulSoup(url.text)
current = int(html.find('span', class_ = 'f_red').text[:-1])
current

1030

In [13]:
number = html.find('div', class_ = 'lottonum').text.split()
del number[-2]
number = list(map(int, number))
number

[2, 5, 11, 17, 24, 29, 9]

In [14]:
import requests # 요청
from bs4 import BeautifulSoup # Python으로 HTML을 다루기 위해
import pandas as pd
import time

url = requests.get("https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&sq=&o=&q=%EB%A1%9C%EB%98%90")
html = BeautifulSoup(url.text)
current = int(html.find('span', class_ = 'f_red').text[:-1])

total = []
for n in range(1, 101):
    url = requests.get("https://search.daum.net/search?w=tot&DA=LOT&rtmaxcoll=LOT&&q={}%ED%9A%8C%EC%B0%A8%20%EB%A1%9C%EB%98%90".format(n))
    html = BeautifulSoup(url.text)

    number = html.find('div', class_ = 'lottonum').text.split()
    del number[-2]
    number = list(map(int, number))

    total.append(number)
    time.sleep(1)

    print('{}회 로또 데이터 저장완료 ... {}'.format(n, number))

1회 로또 데이터 저장완료 ... [10, 23, 29, 33, 37, 40, 16]
2회 로또 데이터 저장완료 ... [9, 13, 21, 25, 32, 42, 2]
3회 로또 데이터 저장완료 ... [11, 16, 19, 21, 27, 31, 30]
4회 로또 데이터 저장완료 ... [14, 27, 30, 31, 40, 42, 2]
5회 로또 데이터 저장완료 ... [16, 24, 29, 40, 41, 42, 3]
6회 로또 데이터 저장완료 ... [14, 15, 26, 27, 40, 42, 34]
7회 로또 데이터 저장완료 ... [2, 9, 16, 25, 26, 40, 42]
8회 로또 데이터 저장완료 ... [8, 19, 25, 34, 37, 39, 9]
9회 로또 데이터 저장완료 ... [2, 4, 16, 17, 36, 39, 14]
10회 로또 데이터 저장완료 ... [9, 25, 30, 33, 41, 44, 6]
11회 로또 데이터 저장완료 ... [1, 7, 36, 37, 41, 42, 14]
12회 로또 데이터 저장완료 ... [2, 11, 21, 25, 39, 45, 44]
13회 로또 데이터 저장완료 ... [22, 23, 25, 37, 38, 42, 26]
14회 로또 데이터 저장완료 ... [2, 6, 12, 31, 33, 40, 15]
15회 로또 데이터 저장완료 ... [3, 4, 16, 30, 31, 37, 13]
16회 로또 데이터 저장완료 ... [6, 7, 24, 37, 38, 40, 33]
17회 로또 데이터 저장완료 ... [3, 4, 9, 17, 32, 37, 1]
18회 로또 데이터 저장완료 ... [3, 12, 13, 19, 32, 35, 29]
19회 로또 데이터 저장완료 ... [6, 30, 38, 39, 40, 43, 26]
20회 로또 데이터 저장완료 ... [10, 14, 18, 20, 23, 30, 41]
21회 로또 데이터 저장완료 ... [6, 12, 17, 18, 31, 32, 21]
22회 로또 데이터 저장완료 ... [4, 5, 6, 8, 17, 39, 25]
23회 로또 데이터 저장완료 ... [5, 13, 17, 18, 33, 42, 44]
24회 로또 데이터 저장완료 ... [7, 8, 27, 29, 36, 43, 6]
25회 로또 데이터 저장완료 ... [2, 4, 21, 26, 43, 44, 16]
26회 로또 데이터 저장완료 ... [4, 5, 7, 18, 20, 25, 31]
27회 로또 데이터 저장완료 ... [1, 20, 26, 28, 37, 43, 27]
28회 로또 데이터 저장완료 ... [9, 18, 23, 25, 35, 37, 1]
29회 로또 데이터 저장완료 ... [1, 5, 13, 34, 39, 40, 11]
30회 로또 데이터 저장완료 ... [8, 17, 20, 35, 36, 44, 4]
31회 로또 데이터 저장완료 ... [7, 9, 18, 23, 28, 35, 32]
32회 로또 데이터 저장완료 ... [6, 14, 19, 25, 34, 44, 11]
33회 로또 데이터 저장완료 ... [4, 7, 32, 33, 40, 41, 9]
34회 로또 데이터 저장완료 ... [9, 26, 35, 37, 40, 42, 2]
35회 로또 데이터 저장완료 ... [2, 3, 11, 26, 37, 43, 39]
36회 로또 데이터 저장완료 ... [1, 10, 23, 26, 28, 40, 31]
37회 로또 데이터 저장완료 ... [7, 27, 30, 33, 35, 37, 42]
38회 로또 데이터 저장완료 ... [16, 17, 22, 30, 37, 43, 36]
39회 로또 데이터 저장완료 ... [6, 7, 13, 15, 21, 43, 8]
40회 로또 데이터 저장완료 ... [7, 13, 18, 19, 25, 26, 6]
41회 로또 데이터 저장완료 ... [13, 20, 23, 35, 38, 43, 34]
42회 로또 데이터 저장완료 ... [17, 18, 19, 21, 23, 32, 1]
43회 로또 데이터 저장완료 ... [6, 31, 35, 38, 39, 44, 1]
44회 로또 데이터 저장완료 ... [3, 11, 21, 30, 38, 45, 39]
45회 로또 데이터 저장완료 ... [1, 10, 20, 27, 33, 35, 17]
46회 로또 데이터 저장완료 ... [8, 13, 15, 23, 31, 38, 39]
47회 로또 데이터 저장완료 ... [14, 17, 26, 31, 36, 45, 27]
48회 로또 데이터 저장완료 ... [6, 10, 18, 26, 37, 38, 3]
49회 로또 데이터 저장완료 ... [4, 7, 16, 19, 33, 40, 30]
50회 로또 데이터 저장완료 ... [2, 10, 12, 15, 22, 44, 1]
51회 로또 데이터 저장완료 ... [2, 3, 11, 16, 26, 44, 35]
52회 로또 데이터 저장완료 ... [2, 4, 15, 16, 20, 29, 1]
53회 로또 데이터 저장완료 ... [7, 8, 14, 32, 33, 39, 42]
54회 로또 데이터 저장완료 ... [1, 8, 21, 27, 36, 39, 37]
55회 로또 데이터 저장완료 ... [17, 21, 31, 37, 40, 44, 7]
56회 로또 데이터 저장완료 ... [10, 14, 30, 31, 33, 37, 19]
57회 로또 데이터 저장완료 ... [7, 10, 16, 25, 29, 44, 6]
58회 로또 데이터 저장완료 ... [10, 24, 25, 33, 40, 44, 1]
59회 로또 데이터 저장완료 ... [6, 29, 36, 39, 41, 45, 13]
60회 로또 데이터 저장완료 ... [2, 8, 25, 36, 39, 42, 11]
61회 로또 데이터 저장완료 ... [14, 15, 19, 30, 38, 43, 8]
62회 로또 데이터 저장완료 ... [3, 8, 15, 27, 29, 35, 21]
63회 로또 데이터 저장완료 ... [3, 20, 23, 36, 38, 40, 5]
64회 로또 데이터 저장완료 ... [14, 15, 18, 21, 26, 36, 39]
65회 로또 데이터 저장완료 ... [4, 25, 33, 36, 40, 43, 39]
66회 로또 데이터 저장완료 ... [2, 3, 7, 17, 22, 24, 45]
67회 로또 데이터 저장완료 ... [3, 7, 10, 15, 36, 38, 33]
68회 로또 데이터 저장완료 ... [10, 12, 15, 16, 26, 39, 38]
69회 로또 데이터 저장완료 ... [5, 8, 14, 15, 19, 39, 35]
70회 로또 데이터 저장완료 ... [5, 19, 22, 25, 28, 43, 26]
71회 로또 데이터 저장완료 ... [5, 9, 12, 16, 29, 41, 21]
72회 로또 데이터 저장완료 ... [2, 4, 11, 17, 26, 27, 1]
73회 로또 데이터 저장완료 ... [3, 12, 18, 32, 40, 43, 38]
74회 로또 데이터 저장완료 ... [6, 15, 17, 18, 35, 40, 23]
75회 로또 데이터 저장완료 ... [2, 5, 24, 32, 34, 44, 28]
76회 로또 데이터 저장완료 ... [1, 3, 15, 22, 25, 37, 43]
77회 로또 데이터 저장완료 ... [2, 18, 29, 32, 43, 44, 37]
78회 로또 데이터 저장완료 ... [10, 13, 25, 29, 33, 35, 38]
79회 로또 데이터 저장완료 ... [3, 12, 24, 27, 30, 32, 14]
80회 로또 데이터 저장완료 ... [17, 18, 24, 25, 26, 30, 1]
81회 로또 데이터 저장완료 ... [5, 7, 11, 13, 20, 33, 6]
82회 로또 데이터 저장완료 ... [1, 2, 3, 14, 27, 42, 39]
83회 로또 데이터 저장완료 ... [6, 10, 15, 17, 19, 34, 14]
84회 로또 데이터 저장완료 ... [16, 23, 27, 34, 42, 45, 11]
85회 로또 데이터 저장완료 ... [6, 8, 13, 23, 31, 36, 21]
86회 로또 데이터 저장완료 ... [2, 12, 37, 39, 41, 45, 33]
87회 로또 데이터 저장완료 ... [4, 12, 16, 23, 34, 43, 26]
88회 로또 데이터 저장완료 ... [1, 17, 20, 24, 30, 41, 27]
89회 로또 데이터 저장완료 ... [4, 26, 28, 29, 33, 40, 37]
90회 로또 데이터 저장완료 ... [17, 20, 29, 35, 38, 44, 10]
91회 로또 데이터 저장완료 ... [1, 21, 24, 26, 29, 42, 27]
92회 로또 데이터 저장완료 ... [3, 14, 24, 33, 35, 36, 17]
93회 로또 데이터 저장완료 ... [6, 22, 24, 36, 38, 44, 19]
94회 로또 데이터 저장완료 ... [5, 32, 34, 40, 41, 45, 6]
95회 로또 데이터 저장완료 ... [8, 17, 27, 31, 34, 43, 14]
96회 로또 데이터 저장완료 ... [1, 3, 8, 21, 22, 31, 20]
97회 로또 데이터 저장완료 ... [6, 7, 14, 15, 20, 36, 3]
98회 로또 데이터 저장완료 ... [6, 9, 16, 23, 24, 32, 43]
99회 로또 데이터 저장완료 ... [1, 3, 10, 27, 29, 37, 11]
100회 로또 데이터 저장완료 ... [1, 7, 11, 23, 37, 42, 6]

In [15]:
len(total)

100

In [16]:
total

[[10, 23, 29, 33, 37, 40, 16],
 [9, 13, 21, 25, 32, 42, 2],
 [11, 16, 19, 21, 27, 31, 30],
 [14, 27, 30, 31, 40, 42, 2],
 [16, 24, 29, 40, 41, 42, 3],
 [14, 15, 26, 27, 40, 42, 34],
 [2, 9, 16, 25, 26, 40, 42],
 [8, 19, 25, 34, 37, 39, 9],
 [2, 4, 16, 17, 36, 39, 14],
 [9, 25, 30, 33, 41, 44, 6],
 [1, 7, 36, 37, 41, 42, 14],
 [2, 11, 21, 25, 39, 45, 44],
 [22, 23, 25, 37, 38, 42, 26],
 [2, 6, 12, 31, 33, 40, 15],
 [3, 4, 16, 30, 31, 37, 13],
 [6, 7, 24, 37, 38, 40, 33],
 [3, 4, 9, 17, 32, 37, 1],
 [3, 12, 13, 19, 32, 35, 29],
 [6, 30, 38, 39, 40, 43, 26],
 [10, 14, 18, 20, 23, 30, 41],
 [6, 12, 17, 18, 31, 32, 21],
 [4, 5, 6, 8, 17, 39, 25],
 [5, 13, 17, 18, 33, 42, 44],
 [7, 8, 27, 29, 36, 43, 6],
 [2, 4, 21, 26, 43, 44, 16],
 [4, 5, 7, 18, 20, 25, 31],
 [1, 20, 26, 28, 37, 43, 27],
 [9, 18, 23, 25, 35, 37, 1],
 [1, 5, 13, 34, 39, 40, 11],
 [8, 17, 20, 35, 36, 44, 4],
 [7, 9, 18, 23, 28, 35, 32],
 [6, 14, 19, 25, 34, 44, 11],
 [4, 7, 32, 33, 40, 41, 9],
 [9, 26, 35, 37, 40, 42, 2],
 [2, 3, 11, 26, 37, 43, 39],
 [1, 10, 23, 26, 28, 40, 31],
 [7, 27, 30, 33, 35, 37, 42],
 [16, 17, 22, 30, 37, 43, 36],
 [6, 7, 13, 15, 21, 43, 8],
 [7, 13, 18, 19, 25, 26, 6],
 [13, 20, 23, 35, 38, 43, 34],
 [17, 18, 19, 21, 23, 32, 1],
 [6, 31, 35, 38, 39, 44, 1],
 [3, 11, 21, 30, 38, 45, 39],
 [1, 10, 20, 27, 33, 35, 17],
 [8, 13, 15, 23, 31, 38, 39],
 [14, 17, 26, 31, 36, 45, 27],
 [6, 10, 18, 26, 37, 38, 3],
 [4, 7, 16, 19, 33, 40, 30],
 [2, 10, 12, 15, 22, 44, 1],
 [2, 3, 11, 16, 26, 44, 35],
 [2, 4, 15, 16, 20, 29, 1],
 [7, 8, 14, 32, 33, 39, 42],
 [1, 8, 21, 27, 36, 39, 37],
 [17, 21, 31, 37, 40, 44, 7],
 [10, 14, 30, 31, 33, 37, 19],
 [7, 10, 16, 25, 29, 44, 6],
 [10, 24, 25, 33, 40, 44, 1],
 [6, 29, 36, 39, 41, 45, 13],
 [2, 8, 25, 36, 39, 42, 11],
 [14, 15, 19, 30, 38, 43, 8],
 [3, 8, 15, 27, 29, 35, 21],
 [3, 20, 23, 36, 38, 40, 5],
 [14, 15, 18, 21, 26, 36, 39],
 [4, 25, 33, 36, 40, 43, 39],
 [2, 3, 7, 17, 22, 24, 45],
 [3, 7, 10, 15, 36, 38, 33],
 [10, 12, 15, 16, 26, 39, 38],
 [5, 8, 14, 15, 19, 39, 35],
 [5, 19, 22, 25, 28, 43, 26],
 [5, 9, 12, 16, 29, 41, 21],
 [2, 4, 11, 17, 26, 27, 1],
 [3, 12, 18, 32, 40, 43, 38],
 [6, 15, 17, 18, 35, 40, 23],
 [2, 5, 24, 32, 34, 44, 28],
 [1, 3, 15, 22, 25, 37, 43],
 [2, 18, 29, 32, 43, 44, 37],
 [10, 13, 25, 29, 33, 35, 38],
 [3, 12, 24, 27, 30, 32, 14],
 [17, 18, 24, 25, 26, 30, 1],
 [5, 7, 11, 13, 20, 33, 6],
 [1, 2, 3, 14, 27, 42, 39],
 [6, 10, 15, 17, 19, 34, 14],
 [16, 23, 27, 34, 42, 45, 11],
 [6, 8, 13, 23, 31, 36, 21],
 [2, 12, 37, 39, 41, 45, 33],
 [4, 12, 16, 23, 34, 43, 26],
 [1, 17, 20, 24, 30, 41, 27],
 [4, 26, 28, 29, 33, 40, 37],
 [17, 20, 29, 35, 38, 44, 10],
 [1, 21, 24, 26, 29, 42, 27],
 [3, 14, 24, 33, 35, 36, 17],
 [6, 22, 24, 36, 38, 44, 19],
 [5, 32, 34, 40, 41, 45, 6],
 [8, 17, 27, 31, 34, 43, 14],
 [1, 3, 8, 21, 22, 31, 20],
 [6, 7, 14, 15, 20, 36, 3],
 [6, 9, 16, 23, 24, 32, 43],
 [1, 3, 10, 27, 29, 37, 11],
 [1, 7, 11, 23, 37, 42, 6]]

In [19]:
df = pd.DataFrame(total, columns = ['첫번째','두번째','세번째','네번째','다섯번째','여섯번째','보너스'])
df.to_excel("lotto.xlsx")
df

    첫번째  두번째  세번째  네번째  다섯번째  여섯번째  보너스
0    10   23   29   33    37    40   16
1     9   13   21   25    32    42    2
2    11   16   19   21    27    31   30
3    14   27   30   31    40    42    2
4    16   24   29   40    41    42    3
..  ...  ...  ...  ...   ...   ...  ...
95    1    3    8   21    22    31   20
96    6    7   14   15    20    36    3
97    6    9   16   23    24    32   43
98    1    3   10   27    29    37   11
99    1    7   11   23    37    42    6

[100 rows x 7 columns]

In [18]:
# 첫회차부터 현재회차 연금복권 데이터 크롤링하기 ^_^/

In [27]:
# 1. 최신회차 몇 회차 인지

import requests 
from bs4 import BeautifulSoup 
import pandas as pd
import time

url = requests.get("https://search.daum.net/search?w=tot&DA=UME&t__nil_searchbox=suggest&sug=&sugo=15&sq=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C&o=10&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C")
html = BeautifulSoup(url.text)
current = int(html.find('span', class_='f_red').text[1:-1])

number = html.find('tr', class_='fst').text.split()[5:]
number[0] = number[0][0]
number = list(map(int, number))
number

[5, 4, 4, 4, 5, 2, 0]

In [28]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd
import time

url = requests.get("https://search.daum.net/search?w=tot&DA=UME&t__nil_searchbox=suggest&sug=&sugo=15&sq=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C&o=10&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C")
html = BeautifulSoup(url.text)
current = int(html.find('span', class_='f_red').text[1:-1])

total = []

for n in range(1, current+1):
    
    url = requests.get("https://search.daum.net/search?w=tot&DA=JIM&rtmaxcoll=JIM&&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C%20720%2B%20{}%ED%9A%8C%EC%B0%A8".format(n))
    html = BeautifulSoup(url.text)

    number = html.find('tr', class_='fst').text.split()[5:]
    number[0] = number[0][0]
    number = list(map(int, number))

    total.append(number)
    time.sleep(1)

    print("{}회 연금복권 데이터 저장 : {}".format(n, number))

df = pd.DataFrame(total, columns = ['조', '첫번째','두번째','세번째','네번째','다섯번째','여섯번째'])
df.to_excel("pension.xlsx")
df

1회 연금복권 데이터 저장 : [4, 1, 6, 2, 1, 3, 2]
2회 연금복권 데이터 저장 : [2, 4, 5, 0, 5, 5, 8]
3회 연금복권 데이터 저장 : [4, 5, 4, 4, 9, 5, 5]
4회 연금복권 데이터 저장 : [4, 1, 2, 4, 4, 2, 0]
5회 연금복권 데이터 저장 : [4, 7, 5, 4, 6, 5, 5]
6회 연금복권 데이터 저장 : [5, 1, 9, 3, 2, 0, 2]
7회 연금복권 데이터 저장 : [2, 5, 9, 7, 0, 9, 3]
8회 연금복권 데이터 저장 : [4, 2, 3, 4, 0, 5, 8]
9회 연금복권 데이터 저장 : [3, 1, 3, 3, 5, 1, 0]

KeyboardInterrupt: ignored

In [53]:
from tqdm import tqdm # for문의 진행상황 확인

url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page=1")
html = BeautifulSoup(url.text)
kospi_page = int(html.find('td', class_ = 'pgRR').find('a')['href'].split('=')[-1])

total = []

for n in tqdm(range(1, kospi_page+1)):

    url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page={}".format(n))
    html = BeautifulSoup(url.text)

    table = html.find('table', class_ = 'type_2')
    table = pd.read_html(str(table))[0]

    del table['N']
    del table['토론실']

    table = table[table['종목명'].notnull()]
    total.append(table)
    time.sleep(1)

kospi = pd.concat(total, ignore_index=True)
kospi['소속'] = 'KOSPI'

#--

url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page=1")
html = BeautifulSoup(url.text)
kosdaq_page = int(html.find('td', class_ = 'pgRR').find('a')['href'].split('=')[-1])

total = []

for n in tqdm(range(1, kosdaq_page+1)):

    url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page={}".format(n))
    html = BeautifulSoup(url.text)

    table = html.find('table', class_ = 'type_2')
    table = pd.read_html(str(table))[0]

    del table['N']
    del table['토론실']

    table = table[table['종목명'].notnull()]
    total.append(table)
    time.sleep(1)

kosdaq = pd.concat(total, ignore_index=True)
kosdaq['소속'] = 'KOSDAQ'

stock = pd.concat([kospi, kosdaq], ignore_index=True)
stock

100%|██████████| 38/38 [01:13<00:00,  1.94s/it]
100%|██████████| 32/32 [01:01<00:00,  1.94s/it]

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,소속
0,삼성전자,58600.0,1400.0,-2.33%,100.0,3498293.0,5969783.0,49.81,9791944.0,8.89,13.92,KOSPI
1,LG에너지솔루션,459500.0,6000.0,-1.29%,500.0,1075230.0,234000.0,4.17,338378.0,763.29,10.68,KOSPI
2,SK하이닉스,92500.0,2600.0,-2.73%,5000.0,673402.0,728002.0,50.07,2610253.0,5.87,16.84,KOSPI
3,삼성바이오로직스,829000.0,18000.0,-2.13%,2500.0,590032.0,71174.0,10.69,43853.0,110.25,8.21,KOSPI
4,삼성전자우,54500.0,600.0,-1.09%,100.0,448473.0,822887.0,71.96,772813.0,8.27,NaN,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...,...
3433,대호특수강우,1325.0,0.0,0.00%,500.0,56.0,4242.0,1.65,23275.0,18.93,NaN,KOSDAQ
3434,한국코퍼레이션,822.0,0.0,0.00%,500.0,42.0,5119.0,0.10,0.0,5.79,10.90,KOSDAQ
3435,소리바다,395.0,3565.0,-90.03%,500.0,35.0,8940.0,3.77,3748032.0,-0.30,787.37,KOSDAQ
3436,소프트센우,23500.0,700.0,-2.89%,500.0,34.0,143.0,0.57,209.0,75.56,NaN,KOSDAQ
3437,테라셈,96.0,0.0,0.00%,500.0,20.0,21163.0,0.13,0.0,-0.26,-33.58,KOSDAQ

In [47]:
len(total)

38

In [52]:
# 코스피, 코스닥 모두 크롤링하셔서 하나의 데이터프레임으로 만들기

kospi = pd.concat(total, ignore_index=True)
kospi['소속'] = 'KOSPI'
kospi

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,소속
0,삼성전자,58600.0,1400.0,-2.33%,100.0,3498293.0,5969783.0,49.81,9781360.0,8.89,13.92,KOSPI
1,LG에너지솔루션,459500.0,6000.0,-1.29%,500.0,1075230.0,234000.0,4.17,338019.0,763.29,10.68,KOSPI
2,SK하이닉스,92500.0,2600.0,-2.73%,5000.0,673402.0,728002.0,50.07,2609169.0,5.87,16.84,KOSPI
3,삼성바이오로직스,829000.0,18000.0,-2.13%,2500.0,590032.0,71174.0,10.69,43791.0,110.25,8.21,KOSPI
4,삼성전자우,54500.0,600.0,-1.09%,100.0,448473.0,822887.0,71.96,765068.0,8.27,NaN,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...,...
1852,KBSTAR 모멘텀밸류,12270.0,250.0,-2.00%,0.0,12.0,100.0,0.00,6.0,NaN,NaN,KOSPI
1853,KBSTAR 200에너지화학,11010.0,290.0,-2.57%,0.0,11.0,100.0,0.00,317.0,NaN,NaN,KOSPI
1854,KBSTAR 200산업재,11770.0,265.0,-2.20%,0.0,9.0,80.0,0.00,14.0,NaN,NaN,KOSPI
1855,KBSTAR 200생활소비재,6475.0,75.0,-1.15%,0.0,9.0,140.0,0.00,186.0,NaN,NaN,KOSPI
1856,KBSTAR 200경기소비재,9460.0,250.0,-2.57%,0.0,8.0,80.0,0.00,53.0,NaN,NaN,KOSPI

In [55]:
# User-Agent : 신분증(python 3.8....)

# 나는 파이썬이 아니라 아이폰이야!
dic = {"User-Agent" : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 12_5_1)'}

url = requests.get("https://finance.naver.com/item/sise_day.naver?code=005930", headers = dic)
html = BeautifulSoup(url.text)

html.find('table', class_ = 'type2')

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.29</span></td>
<td class="num"><span class="tah p11">58,600</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,400
				</span>
</td>
<td class="num"><span class="tah p11">58,700</span></td>
<td class="num"><span class="tah p11">58,900</span></td>
<td class="num"><span class="tah p11">58,600</span></td>
<td class="num"><span class="tah p11">9,791,944</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.26</span></td>
<td class="num"><span class="tah p11">60,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">60,300</span></td>
<td class="num"><span class="tah p11">60,900</span></td>
<td class="num"><span class="tah p11">59,900</span></td>
<td class="num"><span class="tah p11">9,499,995</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.25</span></td>
<td class="num"><span class="tah p11">59,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				700
				</span>
</td>
<td class="num"><span class="tah p11">59,200</span></td>
<td class="num"><span class="tah p11">59,700</span></td>
<td class="num"><span class="tah p11">59,000</span></td>
<td class="num"><span class="tah p11">5,767,902</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.24</span></td>
<td class="num"><span class="tah p11">59,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="num"><span class="tah p11">59,200</span></td>
<td class="num"><span class="tah p11">59,500</span></td>
<td class="num"><span class="tah p11">59,000</span></td>
<td class="num"><span class="tah p11">8,888,486</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.23</span></td>
<td class="num"><span class="tah p11">59,100</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				900
				</span>
</td>
<td class="num"><span class="tah p11">59,000</span></td>
<td class="num"><span class="tah p11">59,600</span></td>
<td class="num"><span class="tah p11">59,000</span></td>
<td class="num"><span class="tah p11">9,041,629</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.22</span></td>
<td class="num"><span class="tah p11">60,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				900
				</span>
</td>
<td class="num"><span class="tah p11">60,300</span></td>
<td class="num"><span class="tah p11">60,400</span></td>
<td class="num"><span class="tah p11">59,800</span></td>
<td class="num"><span class="tah p11">8,259,865</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.19</span></td>
<td class="num"><span class="tah p11">60,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				600
				</span>
</td>
<td class="num"><span class="tah p11">61,400</span></td>
<td class="num"><span class="tah p11">61,600</span></td>
<td class="num"><span class="tah p11">60,600</span></td>
<td class="num"><span class="tah p11">6,923,679</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.18</span></td>
<td class="num"><span class="tah p11">61,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,100
				</span>
</td>
<td class="num"><span class="tah p11">60,300</span></td>
<td class="num"><span class="tah p11">61,900</span></td>
<td class="num"><span class="tah p11">60,000</span></td>
<td class="num"><span class="tah p11">16,372,754</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.17</span></td>
<td class="num"><span class="tah p11">60,400</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				600
				</span>
</td>
<td class="num"><span class="tah p11">61,100</span></td>
<td class="num"><span class="tah p11">61,200</span></td>
<td class="num"><span class="tah p11">60,300</span></td>
<td class="num"><span class="tah p11">9,061,518</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.08.16</span></td>
<td class="num"><span class="tah p11">61,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				800
				</span>
</td>
<td class="num"><span class="tah p11">60,500</span></td>
<td class="num"><span class="tah p11">61,600</span></td>
<td class="num"><span class="tah p11">60,300</span></td>
<td class="num"><span class="tah p11">15,036,727</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

In [61]:
# 텍스트마이닝 : 빈도분석 -> 워드클라우드
url = requests.get("https://search.naver.com/search.naver?where=news&sm=tab_jum&query=%EC%9D%B4%ED%99%94%EC%97%AC%EB%8C%80")
html = BeautifulSoup(url.text)

for i in html.find('ul', class_='list_news').find_all('li', class_='bx'):
    print(i.find('a', class_ = 'news_tit').text)
    print(i.find('div', class_ = 'dsc_wrap').text)

이화의료원, 해피문데이와 '펨테크 컨소시엄' 출범…여성건강 최신기술 융합
 이화여자대학교 의료원(의료원장 유경하)이 월경 중심의 헬스케어 기업 해피문데이(대표 김도진)와 지난 26일 이대서울병원 지하 2층 중강당에서 펨테크 컨소시엄(Femtech Consortium) 발대식을 개최했다. 이날 초대...
﻿이화의료원, 해피문데이와 '펨테크 컨소시엄' 공식 출범
 이화여자대학교 의료원(의료원장 유경하)이 월경 중심의 헬스케어 기업 해피문데이(대표 김도진)와 이달 26일 이대서울병원 지하 2층 중강당에서 펨테크 컨소시엄(Femtech Consortium) 발대식을 개최했다고 전했다. 이날...
[이BIO] 대웅제약·GC녹십자·이화의료원 외
 이화여자대학교 의료원이 월경 중심의 헬스케어 기업 해피문데이(대표 김도진)와 이달 26일 이대서울병원 지하 2층 중강당에서 펨테크 컨소시엄(Femtech Consortium) 발대식을 개최했다. 이날 초대 회원사에는...
[게시판] 롯데건설·이화여대의료원, VL르웨스트 특화 의료 협약
 ▲ 롯데건설과 이화여대의료원은 서울 강서구 마곡도시개발사업지구에 들어서는 'VL르웨스트'의 입주자에게 특화 의료 서비스 제공하는 업무협약(MOU)을 체결했다고 24일 밝혔다. 협약에 따라 양측은 VL르웨스트...
[포토] ‘우리 졸업했어요’…대면 학위수여식 열린 이화여대
 26일 서울 서대문구 이화여자대학교에서 2021학년도 후기학위수여식이 열린 가운데 졸업생들이 학사모를 던지며 기념촬영을 하고 있다. 이화여대는 코로나19 팬데믹 이후 3년 만에 처음으로 대면 학위수여식을 개최했다.
[최원목의 글로벌한국] 삼류 정부, 먼저 이류로 키워야/이화여대 법학전문대학...
 “가장 한국적인 것이 세계적이다”는 말이 있다. 이것이 가능하려면 먼저 세계적인 것을 한국적으로 만들 수 있어야 한다. 최고 수준의 포용력과 협력정신, 창조력 말이다. 방탄소년단(BTS) 신화를 만든 케이팝 산업은...
롯데건설-이화의료원, 마곡에 '시니어 특화 의료 서비스' 제공
 롯데건설은 서울시 강서구 마곡동에 있는 이대서울병원 대강당에서 이화여자대학교 의료원과 '시니어 레지던스 활성화와 고령층에 대한 의료 서비스 확대에 관한 업무협약(MOU)'을 체결했다고 24일 밝혔다. 협약식에는...
이화여대, 26일 2021학년도 후기 학위수여식 개최
 김수연 인턴 기자 = 이화여자대학교는 오는 26일 교내 대강당에서 2021학년도 후기 학위수여식을 진행한다고 밝혔다. 이화여대는 이번 학위수여식을 통해 학사 1219명, 석사 898명, 박사 115명 등 총 2232명의 졸업생을...
유경하 이화의료원장, 사립대의료원협의회 회장 선출
 유경하 이화여자대학교 의료원장(이화여자대학교 의무부총장)이 사립대의료원협의회 신임 회장으로 선출됐다. 유 원장은 오는 9월 1일부터 3년 동안 회장직을 수행하며 협의회를 이끈다. 사립대의료원협의회는 지난달...
코로나19 첫 대면 학위수여식 열린 이화여대
 코로나19 이후 첫 대면 학위수여식이 열린 26일 오전 서울 서대문구 이화여자대학교에서 졸업생들이 자리를 가득 메우고 있다. 2022.08.26. scchoo@newsis.com 공감언론 뉴시스가 독자 여러분의 소중한 제보를...